<mat-table  [dataSource]="courses">

        <!-- name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell  *matHeaderCellDef> Curso </mat-header-cell>
          <mat-cell  *matCellDef="let course"> {{ course.name }} </mat-cell>
        </ng-container>


        <!-- category Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell  *matHeaderCellDef> Categoria </mat-header-cell>
          <mat-cell  *matCellDef="let course"> {{ course.category }}
            <mat-icon aria-hidden="false" aria-label="Categoria do Curso">{{ course.category | category }}</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell  *matHeaderCellDef class="action-add">
            <button (click)='onAdd()' mat-mini-fab color="primary" aria-label="Adicionar um curso">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell  *matCellDef="let course" class="action-coluna">
            <button (click)='onEdit(course)' mat-icon-button color="accent" aria-label="Editar um curso">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Deletar um curso">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>

        </ng-container>


        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
